body {
    margin: 0px;
    background-color: rgb(255, 255, 255);
}

.buttons nav ul a {
    font: 600 15px sans-serif;
}

.style_logo{
    height: 50px;
    display: block;
}

.navigation {
    background-color: black;
    color: white;
    display: flex;
    padding: 0px 80px;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.buttons nav ul li{
    display: inline-block;
    text-decoration: none;
    padding: 28px;
}

.buttons nav ul {
    margin: 0px;
    padding: 0px;
}

.buttons nav ul a {
    text-decoration: none;
    color: white;
}

.buttons nav ul a:hover {
    cursor: pointer;
    color: rgb(50, 255, 50);
}

main {
    font: 400 14px sans-serif;
    text-align: center;
}

.heaading_img {
    padding: 50px;
    height: 610px;
}

.logo {
    height: 56px;
    padding: 9px;
}