body {
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-family: CerebriSans-Regular, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

.buttons nav ul a {
    font: 600 15px sans-serif;
}

.style_logo{
    height: 50px;
    display: block;
}

a {
    text-decoration: none;   
}

p {
    margin: 0%;
}

.inline {
    text-decoration: none;
    margin: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.inline h4 {
    font-family: CerebriSans-Bold, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-size: 2em;
    margin: 9% 0%;
    color: #f0ea4d;
}

ul li:active, dt a, .button {
    transform: scale(0.98);
}

.navigation {
    background-color: black;
    color: white;
    display: flex;
    padding: 0px 80px;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.buttons nav ul li{
    display: inline-block;
    text-decoration: none;
    padding: 28px;
}

.inherited-styles-for-exported-element {
    color: #333;
    font-size: 100%;
  }
  
h3 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 0;
}

.buttons nav ul {
    margin: 0px;
    padding: 0px;
}

.buttons nav ul a {
    text-decoration: none;
    color: white;
}

.buttons nav ul a:hover {
    cursor: pointer;
    color: rgb(50, 255, 50);
}
main, footer {
    font: 400 14px sans-serif;
}

main{
    text-align: center; 
    overflow: hidden;
}

.heaading_img {
    padding: 80px;
    margin:40px;
    height: 330px;
    border-radius: 50%;
}

.logo {
    height: 56px;
    padding: 9px;
}

.home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
  }
  .home #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .home .content {
    flex: 1 1 40rem;
    padding-top: 1rem;
    z-index: 1;
  }

.introduction {
  height: 100vh;
}

.what {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.what p {
    font-size: 40px;
    font-weight:600;
}

.intro {
    line-height: 1.4375;
    font-size: 14px;
    line-height: 1.4375;
}

.caption {
    color: #f0ea4d;
}
.bio span p {
    color: rgb(243, 243, 243);
    margin: 0px;
    right: -23%;
    font: 800 30px sans-serif;
    padding: 50px 30px;
    text-transform: uppercase;
    position: relative;
    transform: rotate(4deg);
    overflow: hidden;
    width: 50%;
}

.graphic_porfolio {
    margin: 80px 0px;
    padding: 10px 200px;
}

.title {
    font: 20px sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

.image-wrapper {
    display: block;
    padding: 10px;
}
.wide {
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.image-wrapper{
    display: inline-block;
}

.image {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
footer {
    background-color: rgb(0, 0, 0);
    color:white;
    padding: 0px 90px;
}

.foot {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

dd {
    margin: 0px;
    text-transform: uppercase;
    font: 600 15px sans-serif;
    color: rgb(111, 111, 111);
}
dt {
    padding: 9px 0px 0px;
}

dt a {
    text-decoration: none;
    color: white;
}

dt a:hover {
    cursor: pointer;
    color: rgb(50, 255, 50);
    transform: scale(1.98);
}


.button {
    border: 1px solid #eee;
    border-radius: 50px;
    box-shadow: rgba(0, 12, 32, .04) 0 0 1px 0, rgba(10, 31, 68, .1) 0 3px 4px 0;
    height: 50px;
    line-height: 50px;
    margin-top: .7em;
    padding: 0 25px;
    text-decoration: none;
    will-change: transform;
  }

  .demo-btn {
    cursor: pointer;
    display: none;
    transition: all 200ms;
  }

  .demo-btn:hover {
    background-color: #afe6c3;
    transform: scale(1.05);
  }
  
  .demo-btn.second {
    background-color: #292b36;
    color: #fff;
    margin-left: 0;
  }

#support_main, #blog {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 20px 200px;
    background-color: #f2f2f2;
    border-radius: 25px;
}

.input_box_wrapper {
    padding: 10px;
}

.input_box {
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #9a9a9a;
    outline: none;
}

.input_box:focus {
    border: 1px solid rgb(50, 255, 50);
}

#comment, .input_box {
    font: 14px sans-serif;
}

.submit {
    width: 50%;
    padding: 11px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255 255 255);
    background: black;
    font: 500 19px Trebuchet MS, sans-serif;
    border: none;
}

.submit:hover {
    background: rgb(50, 255, 50);
}

.submit:active {
    transform: scale(0.98);
}

.outer {
    padding: 15px;
}

.construction {
    font: 500 45px sans-serif;
}

.meter { 
    height: 15px; 
    position: relative;
    background: #555;
    padding: 5px;
  }

  .meter > span {
    display: block;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
  }

.inherited-styles-for-exported-element {
  color: #333;
  font-family: CerebriSans-Regular, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 100%;
}

@media screen and (min-width: 1024px) {
  .demo-btn {
    display: inline-block;
  }
}

.button svg {
  margin-right: .5em;
}

.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}
  